/* src/pages/AdminVoterList.css */
.voter-list-container {
  padding: 2rem;
}

select {
  padding: 8px;
  margin-top: 1rem;
  width: 100%;
  max-width: 300px;
}

.voter-list {
  margin-top: 1rem;
  padding-left: 0;
  list-style: none;
}

.voter-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.error-msg {
  color: red;
  margin-top: 1rem;
}
.voter-list li span {
  display: inline-block;
  width: 150px;
}